{% extends 'home/navBar.html.twig' %}

{% block title %} Cart {% endblock %}

{% block content %}
    <a href="{{ path('products') }}" class="back-purchase-link"> Back continue shopping</a>

    <h1>My cart</h1>
    All product in cart
    
    {% if cart|length > 0 %}
        <table class="table cart-summary mt-5">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>     
                {% set total = null %}   <!--Total to 0 before entering the for loop-->
                {% for product in cart %}
                <tr>
                    <th> 
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="products-picture" height="100px">   
                    </th>
                    <td class="cart-description"> 
                        {{ product.product.name }} <br>
                        <small> {{ product.product.subtitle }} </small>
                    </td>
                    <td class="cart-unit-price" > {{ (product.product.price / 100) | number_format(2, ',', '.') }} $</td>
                    <td class="cart-quantity"> 
                        <a href="{{ path('decrease_to_cart', {'id' : product.product.id }) }}">
                            <img src="{{ asset('assets/pictures/minus.png') }}" height="11px" alt="retirer un produit">
                        </a>
                        {{ product.quantity }} 
                        <a href="{{ path('add_to_cart', {'id' : product.product.id }) }}">
                            <img src="{{ asset('assets/pictures/plus.png') }}" height="11px" alt="ajouter un produit">
                        </a>
                    </td>
                    <td class="cart-total-price"> {{ (product.product.price * product.quantity / 100) | number_format(2, ',', '.') }} $</td>
                    <td>
                        <a class="cart-delete" href="{{ path('delete_to_cart', {'id' : product.product.id }) }}">
                            <img src="{{ asset('assets/pictures/delete.png') }}" height="18px" alt="supprimer un produit">
                        </a>
                    </td>
                </tr>

                {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="text-right mb-5">
            <b>Total product :</b> {{ cart|length }}<br>
            <b>Total money :</b> {{ (total / 100)|number_format(2, ',', '.') }} $<br>
        </div>
        <hr>
        <div class="text-right mb-5">
           <a href="{{ path('order') }}"><button class="button-design"><span>Validate info to buy</span></button></a>
        </div>
    {% else %}
        <hr>
        <p><b>your cart is empty</b></p>
    {% endif %}
{% endblock %}
