{% extends 'home/navBar.html.twig' %}

{% block title %}Account-Fashion{% endblock %}

{% block content %}
    <h1>Account</h1>
    <p>
        Welcome {{app.user.firstname}} {{app.user.lastname}} <br>
        you will find all your personal information in this space.
    </p>
    <hr>
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}           <!-- ROLE_ADMIN defined directly in Phpmyadmin -->
            <div class="col-md-3">
                <div class="account-items">
                    <img src="{{ asset('assets/pictures/admin.png') }}" width="32px;" height="32px;" style="mix-blend-mode: multiply;" alt="admin"><br>
                    <a href="/admin">Admin Manager</a>
                </div>
            </div>
        {% endif %}

        <div class="col-md-3">
            <div class="account-items">
                <img src="{{ asset('assets/pictures/password.png') }}" alt="password"><br>
                <a href="{{ path('account_password') }}">Change password</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="account-items">
                <img src="{{ asset('assets/pictures/address.png') }}" alt="address"><br>
                <a href="{{ path('account_address') }}">Change address</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="account-items">
                <img src="{{ asset('assets/pictures/purchase.png') }}" alt="order"><br>
                <a href="{{ path('account_order') }}">My Order</a>
            </div>
        </div>
    </div>
    <hr>
           <a href="{{ path('app_logout') }}"><button class="button-design"><span>Sign out</span></button></a>
{% endblock %}
