{% extends 'home/navBar.html.twig' %}

{% block title %}Order-Fashion{% endblock %}

{% block content %}
    <h1>My order {{ order.id }}</h1>
    <a href="{{path('account_order') }}">Back to list orders</a><br>

    <strong>Order placed on: </strong> {{ order.createdAt|format_datetime() }}<br>
    <strong>Order code : </strong> {{ order.reference }}<br>
    <strong>Carrier : </strong> {{ order.carrierName }}<br>
    <hr>
    <strong>Detail :</strong>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Produit(s)</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td>{{ product.product }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ (product.price / 100)|number_format(2,',','.')}} €</td>
                    <td>{{ (product.total / 100)|number_format(2,',','.')}} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="text-right">
        <strong>Subtotal : </strong>{{ (order.getTotal / 100) | number_format(2, ',', '.') }} €<br>
        <strong>Delivery : </strong>{{ ( order.carrierPrice / 100) | number_format(2, ',', '.') }} €<br>
        <strong>Total : </strong>{{ ((order.getTotal + order.carrierPrice) / 100) | number_format(2, ',', '.') }} €

    </div>

{% endblock %}
