{% extends 'home/navBar.html.twig' %}

{% block title %}Fashion-Order{% endblock %}

{% block content %}
    <h1>My orders</h1>
	<p>You will find the list of your orders in this space.</p>
	<a href="{{ path('account') }}">Back account</a>
	{% if app.user.orders|length == 0%}
    	<hr>
		<p class="text-center mt-5">
            You haven't placed any orders yet.</a>
		</p>
    {% else %}
         <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">Order placed on</th>
                    <th scope="col">Products</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in app.user.orders %}
                    <tr>
                        <td>{{ order.createdAt|format_datetime() }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td>{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2,',','.')}} €</td>
                        <td><a href="{{path('account_order_show', { id : order.id }) }}">Detail</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
	{% endif %}
{% endblock %}
