{% extends 'home/navBar.html.twig' %}

{% block title %}Password-Fashion{% endblock %}

{% block content %}
	<h1>Change password</h1>
	<a href="{{ path('account') }}">Back my account</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% else %}
        {% if notificationRed %}
            <div class="alert alert-danger">{{ notificationRed }}</div>
        {% endif %}
    {% endif %}

    {{ form(form)}}
    <hr>
    <a href="{{ path('account') }}">Back</a>

{% endblock %}
